# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Backend
backend/target/
backend/.mvn/
backend/HELP.md

# Frontend
node_modules/
dist/
.vite/
*.log

# Docker
docker-data/
